
/* TAG STYLES */

html {
  display: border-box;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
/* /TAG STYLES */

.exampleMark {
  color: lightgrey;
}

/* CREATED LIST ELEMENT STYLES */

::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(33,150,243, 0.8);
    border-radius: 10px;
}

.listItemContainer {
  margin: 30px 10px 12px;
  padding-bottom: 25px;
  overflow-y: auto;
  min-height: 80px;
  max-height: 600px;
  background-color: #e6f2ff;
  border: solid rgb(26, 140, 255, .8) 2px;
  border-radius: 10px;
}

.listItem {
  position: relative;
  margin: 20px 0px 0px 70px;
  max-width: 250px;
  word-wrap: break-word;
  text-align: left;
  list-style: none;
}

.listTitles {
  margin-left: 47%;
  font-size: .8em;
}

.hrLine  {
  width: 40%;
}

.removeItemButton  {
  float: right;
  position: absolute;
  right: -108px;
  top: -3px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  width: auto;
  height: 25px;
  background-color: tomato;
  border: grey solid 2px;
}

.removeBtnExample  {
  float: right;
  position: absolute;
  right: -108px;
  top: -3px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  width: auto;
  height: 25px;
  background-color: palevioletred;
  border: grey solid 2px;
}

.checkBox {
  float: left;
  position: absolute;
  left: 0px;
  top: 1px;
  margin-left: -80px;
  background-color: tomato;
  border: grey solid 2px;
}

.checkBoxExample {
  float: left;
  position: absolute;
  left: 0px;
  top: 1px;
  margin-left: -80px;
  border: grey solid 2px;
}

/* /CREATED LIST ELEMENT STYLES */


/* CLASS STYLES */

.listHeader {
  text-align: center;
  background-color: #eeeeee;
  border-radius: 10px 10px 0px 0px;
  margin-top: 0px;
  padding-top: 5px;
  height: 19px;
}

.toDoListContainer {
  display: flex; 
  justify-content: center;
  width: 530px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.toDoListBody {
  position: relative;
  border-radius: 10px;
  background-color: #99ccff;
  min-height: 266px;
  min-width: 530px;
}

.addItemButton {
  display: block;
  background-color: rgba(33,150,243, 1);
  border: solid white 1px;
  color: white;
  margin: 25px auto 0px auto;
  width: 139px;
  height: 55px;
}

.addItemButton:hover {
  display: block;
  background-color: rgba(33,150,243, 0.6);
}

.addItemInputField {
  display: block;
  border: grey solid 1px;
  width: 139px;
  margin: 10px auto 0px auto;
}

.clearListButton {
  position: absolute;
  top: 35px;
  right: 10px;
  background-color: rgba(244,67,54, 0.6);
  border: solid 1px lightgrey;
  color: white;
  width: 89px;
  height: 35px;
}

.clearListButton:hover {
  position: absolute;
  top: 35px;
  right: 10px;
  background-color: rgba(244,67,54, .9);
  border: solid 1px white;
  color: white;
  width: 89px;
  height: 35px;
}

/* /CLASS STYLES */
